<script lang="ts">
	import '../app.postcss';
	import { AppShell, AppBar } from '@skeletonlabs/skeleton';
	import type { LayoutData, LayoutServerData } from './$types';

	export let data: LayoutServerData
</script>

<!-- App Shell -->
<AppShell>
	<svelte:fragment slot="header">
		<!-- App Bar -->
		<AppBar>
			<svelte:fragment slot="lead">
				<strong class="text-xl uppercase">Практическое задание 2</strong>
			</svelte:fragment>
			<svelte:fragment slot="trail">
				{#if data.auth == true}
					<a
						class="btn btn-sm variant-ghost-surface"
						href="/notes"
						target="_self"
					>
						Notes
					</a>
					<a
						class="btn btn-sm variant-ghost-surface"
						href="/add_note"
						target="_self"
					>
						Add note
					</a>

					<form method="POST" action="/login?/logout">
						<button class="btn btn-sm variant-ghost-surface">
							Выйти
						</button>
					</form>
				{/if}
			</svelte:fragment>
		</AppBar>
	</svelte:fragment>
	<!-- Page Route Content -->
	<slot />
</AppShell>
