<script lang="ts">
    import type { ActionData } from './$types';
    
    export let form: ActionData;
</script>

<svelte:head>
    <title>Login</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-center">
	<div class="m-5 flex flex-col items-center justify-center bg-slate-700 rounded-3xl h-fit p-5">

        {#if form?.success == false}
            <h2>{form?.message}</h2>
        {/if}

		<form class="flex flex-col items-center justify-center h-full" method="POST">    
            <label class="label" for="username"> Логин </label>
            <input class="input p-2"
                type="text"
                id="username"
                name="username"
                required
            />

            <label class="label" for="last_name"> Фамилия </label>
            <input class="input p-2"
                type="text"
                id="last_name"
                name="last_name"
                required
            />

            <label class="label" for="first_name"> Имя </label>
            <input class="input p-2"
                type="text"
                id="first_name"
                name="first_name"
                required
            />

            <label class="label" for="email"> Эл. почта </label>
            <input class="input p-2"
                type="text"
                id="email"
                name="email"
                required
            />
        
            <label class="label" for="password1"> Пароль </label>
            <input class="input p-2" type="password" required id="password1" name="password1"  />      
    
            <label class="label" for="password2"> Пароль </label>
            <input class="input p-2" type="password" required id="password2" name="password2"  />  

            <button class="btn variant-filled-primary mt-2" type="submit"> Зарегистрироваться </button> 

            <a href="/login">Вход</a>
        </form>
	</div>
</div>