<script lang="ts">
	import type { Note } from '$lib/models';
	import { Table, type PaginationSettings, Paginator, tableMapperValues } from '@skeletonlabs/skeleton';
    import type { PageData } from './$types';
    
    export let data: PageData;

    const notes: Note[] = data.notes;

    let paginationSettings = {
        page: 0,
        limit: 10,
        size: notes.length,
        amounts: [5, 10, 15, 20],
    } satisfies PaginationSettings;

    $: paginatedSource = notes.slice(
        paginationSettings.page * paginationSettings.limit,
        paginationSettings.page * paginationSettings.limit + paginationSettings.limit
    );

    let tableHeaders: string[] = ['Заметки'];
</script>

<svelte:head>
    <title>Notes</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-start">
	<div class="space-y-10 text-center m-5 flex flex-col items-center">
		<Table source={{head: tableHeaders, body: tableMapperValues(paginatedSource, ['text',])}} />
		<Paginator
			bind:settings={paginationSettings}
			showFirstLastButtons="{false}"
			showPreviousNextButtons="{true}"
		/>
	</div>
</div>