<script lang="ts">
    import type { ActionData } from './$types';
    
    export let form: ActionData;
</script>

<svelte:head>
    <title>Add note</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-center">
	<div class="m-5 flex flex-col items-center justify-center bg-slate-700 rounded-3xl h-fit p-5">

        {#if form?.success == false}
            <h2>{form?.message}</h2>
        {/if}

		<form class="flex flex-col items-center justify-center h-full" method="POST">    
            <label class="label" for="text"> Текст заметки </label>
            <input class="input p-2"
                type="text"
                id="text"
                name="text"
                required
            />
    
            <button class="btn variant-filled-primary mt-2" type="submit"> Добавить </button> 
        </form>
	</div>
</div>