<script lang="ts">
    import type { ActionData } from './$types';
    
    export let form: ActionData;
</script>

<svelte:head>
    <title>Login</title>
</svelte:head>

<div class="container h-full mx-auto flex justify-center items-center">
	<div class="m-5 flex flex-col items-center justify-center bg-slate-700 rounded-3xl h-fit p-5">

        {#if form?.success == false}
            <h2>{form?.message}</h2>
        {/if}

		<form class="flex flex-col items-center justify-center h-full" method="POST">    
            <label class="label" for="username"> Логин </label>
            <input class="input p-2"
                type="text"
                id="username"
                name="username"
                required
            />
        
            <label class="label" for="password"> Пароль </label>
            <input class="input p-2" type="password" required id="password" name="password"  />      
    
            <button class="btn variant-filled-primary mt-2" type="submit" formaction="?/login"> Войти </button> 

            <a href="/reg">Регистрация</a>
        </form>
	</div>
</div>